* {
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-container {
  width: 100%;
  padding: 20px;
  position: fixed;
  background-color: #0f4f99;
  z-index: 1;
}

.search-form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 30%;
  height: 50px;
  border-radius: 4px 0 0 4px;
  border: solid 1px;
  outline: none;
  background-color: rgb(228, 231, 236);
  padding: 8px 10px;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  background-color: rgb(180, 219, 235);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(113, 189, 219);
  transition: all 0.3s;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 1px solid #5857570e;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-item__img {
  display: block;
  height: 23vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #242424;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 30px auto 30px auto;
  padding: 8px 20px;
  border: solid 2px;
  border-color: #242424;
  border-radius: 5px;
  background-color: #8bcdeb;
}
.load-more:hover,
.load-more:focus {
  background-color: #5fc0ec;
  cursor: pointer;
}
